<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.deflis.android.twitter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="13"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="false">
        <activity
            android:label="@string/app_name"
            android:name=".TwitStreamActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwitterLoginActivity" android:finishOnTaskLaunch="true" android:theme="@android:style/Theme.Dialog"></activity>
        <service android:name=".service.TwitterService"></service>
    </application>

</manifest>